[alias]
	clone-sub = !bash -i -c 'git_clone_sub "$@"' -s
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[user]
	email = davey.shop.stuff@gmail.com
	name = davey
[safe]
	directory = *
