[alias]
	clone-sub = !bash -i -c 'git_clone_sub "$@"' -s
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[user]
	email = davey.shop.stuff@gmail.com
	name = davey
[safe]
	directory = *
[url "git@skyswteam.com/spk_core/spk_core.git"]
        insteadof = git@skyswteam.com/themeshteam/airties/vendor/sky-spk-core.git

[url "git@skyswteam.com/spk_core/sky_package.git"]
        insteadof = git@skyswteam.com/themeshteam/airties/vendor/sky-spk-package.git

[url "git@skyswteam.com/spk_core/sky_dl.git"]
        insteadof = git@skyswteam.com/themeshteam/airties/vendor/sky-spk-dl.git

[url "git@skyswteam.com/spk_core/sky_device.git"]
        insteadof = git@skyswteam.com/themeshteam/airties/vendor/sky-spk-target.git
